@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply flex items-end justify-end py-6 transition-colors px-9 lg:px-4 lg:items-center lg:justify-start hover:bg-yellow;
	}
}

* {
	-webkit-appearance: none;
	appearance: none;
	scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
